//sidebar
$sidebar-header-color: #690800;
$sidebar-color: #505050;
$sidebar-selected-color: #383838;

//menu
$menu-icon: #f3d83f;
$menu-color: #b7bbc2;
$menu-bg-hover: #333333;
$menu-hover: #fff;
$dropdown-bg: #eff3f4;
$dropdown-color: #ccc;

// main colors
$body-bg-color: #f1f1f1;
$body-color: white;
$mBubble-color: #853c37;

//painel
$profileImage: #fff;
$prof-bg-color: #f2f2f2;
$prof-title: #9e9e9e;
$prof-subtitle: #690800;
$prof-text: #9e9e9e;
$prof-painel-shadow: #666666;

$content-grey: #959595;
$content-white: #fff;

//dayBox
$daybox-bg: #eaeaea;
$daybox: #9b9b9b;

$hr-border: #ccc;

$table: #a4a9ae;
$table-child1: #f0f2f5;
$table-child1: #f6f8fa;
$td-span: #ccc;

$th-color: #999;

$locked: red;
$viewed: #a3cb7c;
$notviewed: #d6b600;
$fb: #666;

//footer
$mainc-footer-bg: #444444;
$footer-bg: #333;
$footer-color: white;

$calsnap: #c5c5c3;
$notice: #dfb6b2;
$gnotice: #b8dac7







