@import '_vars.scss';

body { font-family: 'Lato', sans-serif; font-size:16px; background-color: $sidebar-color; }

#topPanel { margin:0; position:relative; }

.bannerContainer { padding:0; }

#bottomPanel {
  margin:0;
}

.sidebarC { 
    background-color: $sidebar-color; 
    color: $body-color;
    position:relative;
}

.bodyC {
    position:relative;
    padding:0;
    background-color:$body-bg-color;
    margin-right:-15px;
}

.sidebarC header { 
    position:relative;
    background-color: $sidebar-header-color;
    height:110px; 
    font-size:1.25rem;
    margin:0 -15px;
}

.sidebarC header p { 
    display:inline;
    padding-left:10px;
}

.yellowBoxNav {
    position:relative;
    float: right;
    margin-right:30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color:$menu-icon;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 45px;
    color:$body-color;
    z-index: 25;
}

.yellowBoxNav span { position:relative; top: 8px; font-size:3rem; }

.dropdown-menu { margin-top:25px; }
.dropdown-menu-right { right:-15px; }

.mainHead {
    height:110px;
    background-color:$body-color;
}
.mainC_nav { position:absolute; right:0; margin-right:30px; margin-top:35px; z-index:100; cursor:pointer;}
.mainC_nav li { position:relative; margin-right:5px; }
.mainC_nav span { font-size:3rem; color: $menu-color; }

#mBubble { 
    position:absolute; 
    background-color:$mBubble-color; 
    width:15px; height:15px; 
    font-size:1rem; 
    left:25px; 
    top:-3px; 
}

.clLogo { 
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
}

.sNav { font-size:1.45rem; }
.sNav ul { margin: 5px -15px 0; }
.sNav ul li { margin-top:13px; padding:12px 0 12px 14%; }
.sNav ul li:hover { background-color:$menu-bg-hover; cursor:pointer; color: $menu-hover; }
.sNav i, .sNav span { margin-right:10px;}

.profileImg {
    border: 3px solid $profileImage;
}

.profImg {
    border: 3px solid $profileImage;
}

.imgText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left:12%;
}

.profPanel { 
    width:445px; 
    height:150px; 
    background-color: $prof-bg-color; 
    position: absolute;
    left:40px;
    top:70px;
    border-radius: 8px;
    -moz-box-shadow:    3px 3px 3px 0px $prof-painel-shadow;    
    -webkit-box-shadow: 3px 3px 3px 0px $prof-painel-shadow;
    box-shadow:         3px 3px 3px 0px $prof-painel-shadow;
}

.profPanel img {
    position:absolute;
    right:-20px;
    top:-20px;
}

.profPanel p:first-child { font-size:3rem; font-weight:300; margin-bottom:3px; }
.profPanel p:first-child span { color:$prof-title; }
.profPanel p:nth-child(2) { font-size:2.2rem; color:$prof-subtitle; margin-top:-8px; }
.profPanelText { position:relative; top:10px; left:20px; }
.profPanel ul { color:$prof-text; padding-top:5px; font-weight:300; }
.profPanel span { margin-right:2px; }

.calendar, .trending, .sports { 
    height:350px;
    background-color:$content-grey;
    color:$content-white;
    font-size: .8rem;
}

.box2, .box3 { padding-left:0; }

#mainImg { width: 100%; }

.courseStuff, .calendarStuff, .lowerPanelNav, .footerStuff { margin:0; }
.courseInfo { 
    position:relative;
    left:40px;
    font-weight:300;
    color:$content-grey;
}

.courseInfo h2 { 
    font-weight:300; 
    font-size:4.2rem;
    padding-top:10px;
}

.courseInfo h3 { font-weight:300; margin-bottom:15px; }

.weeklySched {
    position:relative;
    left:40px;
    color:$content-grey;
    margin-top:30px;
    margin-bottom:30px;
}

.weeklySched > ul { margin-bottom:0; }

.lowerPanelNav { font-size:1.8rem; }

.lowerPanelNav li { margin-right:60px; cursor:pointer; }
.lowerPanelNav li:last-child { margin-right:0; }

.bottomCalendar { position:relative; left:40px; }

.dayBox { background-color:$daybox-bg; color:$daybox; width:90%; height:275px; }
.dayMarker { font-size:6rem; font-weight:700; position:relative; top:-20px; }
.dayBox i {  font-size:3rem; }
.dayBox i:last-child { position:relative; top:-30px; }

hr { border-color: $hr-border; }

.calendarStuff hr { margin-top:0; }
.courseInfo hr { max-width:185px; margin-left:0; }

table { color:$table; }

th {  padding-bottom:20px; font-size:1.5rem; color:$th-color; background-color:transparent; }
td { font-size:1.45rem; padding:10px 0; }
table th:first-child, table td:first-child { padding-left:30px ;}

table tr:nth-child(2n+1) { background-color:$table-child1; }
table tr:nth-child(2n+2) { background-color:$table-child1; }
td span { margin-left:12px; margin-right:6px; font-size:1.85rem; color: $td-span; }
td span:nth-child(1) { margin-right:0; }
td span:nth-child(2) { margin-right:0; }
td i { font-size:5rem; }

.stretchCell { width:210px; }
.wideCell { width:30% ;}
.locked { color:$locked; }
.viewed { color:$viewed; }
.notViewed { color:$notviewed; }
.fbActive { color:$fb; }

.mainCfooter {
    margin-top:200px;
    padding-top:130px;
    background-color: $mainc-footer-bg;
}

footer h4 {margin:0;}
footer { background-color: $footer-bg; color:$footer-color; }

.footerContent li {
    /*display:inline-block;
    margin-right:50px;*/
    max-width:250px;
}

.footerContent h3 { 
    font-family:"Lato";
    font-weight:300;
    font-size:2.25rem;
}

.iconHead { position:relative; left:-10px; }

.childList { 
    font-weight:300;
    list-style-type:none; 
    padding-left:20px;
    font-size:12.5px;
}

.childList li { padding-top:10px; }

.firstHeading { margin:0; }
.firstHeader { margin-top:0; margin-bottom:10px; }

.tempLink { text-decoration:underline; }
.collapseLi { padding-top:5px;}

.footerContent { position:relative; left:7.5%; padding:0; width:90%; }
.footerStuff { padding-bottom:100px; }

/*attempting to style dropdowns*/
.dropdown-menu { padding-top:0; }
.dropdown-menu .circleI { 
    width:30px; height:30px;
     -moz-border-radius:50%; 
     border-radius:50%; 
     background-color:$dropdown-bg; 
     color:$dropdown-color; 
     text-align:center;
     font-size:1.7rem;
     margin:0 10px;
     padding-top:5px;
}
.dropdown-menu li { position:relative; margin-right:0; /*padding:10px 0;*/}
.dropdown-menu li:hover .emptyCircle {
    background-color:$menu-hover;
}
.dropdown-menu li:hover .circleI {
    background-color:$menu-hover;
}

.listText { position:absolute; top:7px; left:60px; font-size:1.5rem; line-height:1.5rem; }
.listText span { color:red;font-size:1.5rem; }
.topPanel { width:100%; height:50px; background-color:#383838; position:relative; }
.topPanel i { position:absolute; top:-20px; left:80%; font-size:3rem; color:#383838; }
.topPanel p { padding:15px 0 0 20px;  }

.discussionDrop { margin:10px 0; width:200px; padding-bottom:0; }

#messageBadge {
    position:relative; 
    background-color:$mBubble-color;  
    font-size:1rem; 
    left:10px;
    top:-2px; 
    width:30; 
    height:30;
    text-align:center; 
}

.emptyCircle {
    display:inline-block;
    width:30px;
    height:30px;
    background-color:$dropdown-bg;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;  
    margin-left:10px; 
}

.dropdown-menu .divider { margin:0; }

.dropdown-menu > li > a { padding:10px 0; }

.navIndicator { position:relative; height:8px; background-color:$menu-icon; width:210px; }

/* ---- prof portal styles ---*/

.courseInfo > h3 > i { margin-right:10px; cursor:pointer; }

.profTools { position:relative; }

.profTools li { margin-right:6px; }

.profTools p { 
    display:inline; 
    position:relative; 
    font-size:1.5rem; 
    top:-2px; 
    padding-left: 8px; 
}

.profTools li:nth-child(3) { 
    margin-right:0; 
    padding-right:0; 
}

.profTools li:nth-child(3):after { 
    content:"|"; 
    position:relative; 
    padding-left:15px; 
    opacity:.8; 
    top:-2px; 
    cursor:default;
}
.profTools li:last-child { margin-left:3px; }

.profToolsTop { left:40px; margin:20px 0; cursor:pointer; }

.tCal { position:relative; left:40px; padding:0; /*background-color: #333;*/ }

.calSnap { background-color: $calsnap; color:$body-color; }

.notice { background-color: $notice; color:$body-color; }

.genericNotice { background-color: $gnotice; color:$body-color; }

.allNotices > div { height:170px; margin-bottom:15px; }